<?xml version="1.0" encoding="utf-8"?>
<launch>

    <node name = "smb_highlevel_controller"  
          pkg = "smb_highlevel_controller"  
          type = "smb_highlevel_controller"
          output = "screen">
          
        <rosparam command = "load"
            file = "$(find smb_highlevel_controller)/config/config.yaml"/>
    </node>

    <include file = "$(find smb_gazebo)/launch/smb_gazebo.launch">
        <arg name = "world_file"  
             value = "/usr/share/gazebo-11/worlds/robocup14_spl_field.world"/>
        <arg name = "laser_enabled"  
             value = "true"/>        
    </include>

    <node name = "keyboard"  pkg = "teleop_twist_keyboard"  
          type = "teleop_twist_keyboard.py"  output = "screen"
          launch-prefix="gnome-terminal --command"/>
    <node name = "rviz"  pkg = "rviz"  type = "rviz"/>
</launch>