<?xml version="1.0" encoding="utf-8"?>
<launch>


  <node name = "keyboard"  pkg = "teleop_twist_keyboard"  type="teleop_twist_keyboard.py"  output="screen"/>

  <include file="$(find smb_gazebo)/launch/smb_gazebo.launch">
    <arg name = "world_file" value = "/usr/share/gazebo-11/worlds/robocup14_spl_field.world"/>
  </include>
</launch>
